---
http_interactions:
- request:
    method: post
    uri: https://atnd.ak4.jp/api/cooperation/TEST999/stamps
    body:
      encoding: UTF-8
      string: token=833ab2e9-5a21-4cf9-9328-175027f0b291&type=12
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"response":{"login_company_code":"TEST999","staff_id":216644,"type":12,"stampedAt":"2020/08/07
        21:45:11","alertCount":null,"overtimeExceeded":null}}'
  recorded_at: Fri, 07 Aug 2020 12:45:11 GMT
recorded_with: VCR 6.0.0
